################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
Algorithm/quarterly_reports/
Algorithm/combined_data.csv
Algorithm/api_key.txt
Algorithm/aa_daily_data.csv
Algorithm/quarterly_clusters_model/aa_daily_data.csv
./Backend/.env
./Frontend/.env
*.env
