name: Build and deploy Python app to Azure Web App - cosc540-stockapp-backend

on:
  push:
    branches:
      - Deployment
    paths:
      - "Backend/**"
      - ".github/workflows/**"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python version
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"

      - name: Debug - show repo layout
        run: |
          pwd
          ls -la
          ls -la Backend || true
          ls -la Backend/requirements.txt || true

      - name: Create and Start virtual environment and Install dependencies
        run: |
          python -m venv antenv
          source antenv/bin/activate
          python -m pip install --upgrade pip
          pip install -r Backend/requirements.txt

      - name: Upload artifact for deployment jobs
        uses: actions/upload-artifact@v4
        with:
          name: python-app
          path: |
            Backend
            !Backend/antenv/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: python-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_8A1D387F3B9F4B66AB99A52BA82DF217 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_AE51BEF0606E49DA9C721684B644AB13 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_1E0B6AD17C3140A78C735D6D2F9BDECC }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        id: deploy-to-webapp
        with:
          app-name: "cosc540-stockapp-backend"
          slot-name: "Production"
          package: .
